<h1 style="text-align: justify;">首頁</h1>
<h2 style="text-align: justify;">PCH4</h2>
<h3 style="text-align: justify;">Computer Cases 電腦機箱</h3>
<p></p>
<p id="N10699" lang="" style="text-align: justify;">In this lesson, we are going to cover the various cases available for computers, several form factors or layouts of the motherboards, and the different types of power supplies that we use to provide direct current (DC) to the computer’s components.</p>
<p lang="" style="text-align: justify;"><span>在本課程中，我們將介紹計算機可用的各種情況，主板的幾種外形尺寸或佈局，以及用於為計算機組件提供直流（DC）的不同類型的電源。</span></p>
<p lang="" style="text-align: justify;"><span></span></p>
<p id="N1069C" lang="" style="text-align: justify;">From the outside, almost all computers looked the same for a long time, but contemporary systems have really changed the size and shape of the cases available. The most common cases are mid-size or mini-towers, while some people, mostly gamers, still like full-sized towers. Some cases are made in a small form factor (SFF) to be easily carried for portability or to match an entertainment system like a DVD player in size. Servers are often contained in very long and narrow cases that usually range in size from one unit tall (a few inches) to two units tall (about 6-8 inches). Each of these cases provide us with a distinct layout of the motherboard they will accept. This layout is called a form factor. Larger case sizes allow for additional devices (such as hard disk drives and optical drives). The type of case will depend on the customer’s needs.</p>
<p lang="" style="text-align: justify;"><span>從外部看，幾乎所有計算機在很長一段時間內看起來都是一樣的，但是現代系統確實改變了可用機箱的大小和形狀。</span><span>最常見的情況是中型或小型塔，而有些人（大多是遊戲玩家）仍然喜歡全尺寸塔。</span><span>某些情況下，它們採用小巧的外形（SFF）製成，以便攜帶方便或與DVD播放器等娛樂系統相匹配。</span><span>服務器通常裝在非常狹長的情況下，大小通常從一個單位高（幾英寸）到兩個單位高（約6-8英寸）不等。</span><span>這些情況中的每一種都為我們提供了可接受的主板佈局。</span><span>此佈局稱為形狀因數。</span><span>較大的機箱尺寸允許使用其他設備（例如硬盤驅動器和光盤驅動器）。</span><span>案例的類型將取決於客戶的需求。</span></p>
<p style="text-align: justify;"><span class="imagewrap"><span class="image">                                 <img alt="Photograph of a rectangular tower computer case. " class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image1.png" title="Photograph of a rectangular tower computer case. "/></span><span class="caption" lang=""></span></span></p>
<p id="N106A4" lang="" style="text-align: justify;">                                                     Tower case (塔盒)</p>
<div class="section" id="motherboards">
<div class="sectionContain"><br/><span title="Quick scroll up">Motherboards and Processors </span><span title="快速向上滾動"><span>主板和處理器</span></span>
<div class="sectionContain" style="text-align: justify;">Form Factor構成因素</div>
<div class="sectionContain" style="text-align: justify;">
<p lang="" style="text-align: justify;"></p>
<p id="N106BB" lang="" style="text-align: justify;">The size and arrangement of the motherboard is described as the form factor. The ATX form factor is one of the most widely used form factors in contemporary computers. It has been in use since the 1990s. The ATX form factor contains a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards.</p>
<p lang="" style="text-align: justify;"><span>母板的尺寸和排列方式描述為外形尺寸。</span><span>ATX規格是現代計算機中使用最廣泛的規格之一。</span><span>自1990年代以來一直在使用。</span><span>ATX外形尺寸包含一個用於集成端口（音頻，視頻，聲音，網絡等）的後端口群集。</span><span>擴展插槽平行於電路板的短邊，並且機箱的左側殼體開口可輕鬆添加擴展卡。</span></p>
<span class="imagewrap"><span class="imagewrap"><span class="image">                   <img alt="Photograph of a motherboard containing a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards." class="popimg" id="_i_2" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image2.png" title="Photograph of a motherboard containing a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards."/></span></span></span>
<p id="N106C3" lang="" style="text-align: left;">                                    ATX form factor motherboard (<span>ATX尺寸主板)</span></p>
<p lang="" style="text-align: left;"></p>
<p id="N106CB" lang="">The mini-ATX form factor is smaller in size than the ATX form factor, but still contains many of the ATX features, such as a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards.</p>
<p id="N106CB" lang="" style="text-align: justify;"><span>迷你ATX尺寸比ATX尺寸小，但仍包含許多ATX功能，例如用於集成端口（音頻，視頻，聲音，網絡等）的後端口群集。擴展插槽平行於電路板的短邊，並且機箱的左側殼體開口可輕鬆添加擴展卡。</span></p>
<p lang="" style="text-align: justify;"></p>
<p id="N106CE" lang="">As shown in the table below, there are many variations of the ATX form factor, with the main difference being the physical size of the board and the number of expansion slots. Bigger boards allow for additional expansion slots, but require a larger tower.</p>
<p lang=""><span>如下表所示，ATX尺寸有很多變化，主要區別是板的物理尺寸和擴展插槽的數量。</span><span>更大的板可提供額外的擴展插槽，但需要更大的塔架。</span></p>
<div class="image shouldbeleft"><img class="popimg" height="340" id="_i_4" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image3.png" width="568"/></div>
<div class="image shouldbeleft"></div>
<p id="N106D5" lang="">The ITX form factor was created in 2001. The ITX form factor itself was not very popular, but a variant called the mini-ITX became quite popular, since it also fit into ATX-style cases. It also contains a rear port cluster for its integrated ports (audio, video, sound, network, etc.). The expansion slots run parallel to the short side of the board, and the cases have a left-side case opening to support easily adding expansion cards, just like the ATX boards. Smaller variations, called pico-ITX and nano-ITX, are often used in computing appliances such as smart televisions, Internet-connected set-top devices designed to integrate with TV sets, and others.</p>
<p id="N106D5" lang="" style="text-align: justify;"><span>ITX尺寸表創建於2001年。ITX尺寸表本身並不十分流行，但是一個名為mini-ITX的變體就變得非常流行，因為它也適用於ATX風格的機殼。它還為集成端口（音頻，視頻，聲音，網絡等）包含一個後部端口集群。擴展插槽平行於板子的短邊延伸，並且外殼具有左側的外殼開口，以支持輕鬆添加擴展卡，就像ATX板一樣。較小的變體，稱為pico-ITX和nano-ITX，通常用於計算設備中，例如智能電視，旨在與電視機集成的連接互聯網的機頂盒設備等。</span></p>
<p lang="" style="text-align: justify;"></p>
<span class="imagewrap"><span class="image">                    <img alt="Photograph of a small form factor motherboard installed inside a large case with a significant amount of vacant space." class="popimg" id="_i_5" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image4.png" title="Photograph of a small form factor motherboard installed inside a large case with a significant amount of vacant space."/></span></span></div>
<div class="sectionContain" style="text-align: justify;"><span class="imagewrap"><span class="image"><span>                                    Small form factor motherboard (小型主機板)</span></span></span></div>
<div class="sectionContain" style="text-align: justify;"></div>
<div class="sectionContain" style="text-align: justify;"></div>
<h3 class="sectionContain" style="text-align: justify;"><span class="imagewrap"><span class="image"><span>Power supplies 電源</span></span></span></h3>
<br/>Power supply units (PSUs) are required in all computer systems, since computers are designed to run on direct current (DC), but our home and office outlets only provide alternating current (AC). For a computer to run well, it requires good, clean power from the outlet to the computer’s PSU. The PSU then converts the AC input into DC output to the various subsystems of the computer at the necessary voltages. The PSU creates heat in this transformation from AC to DC. Therefore, a good power supply fan is essential to remove the heat from the PSU and computer system. A power supply is a field replaceable unit (FRU) and should be replaced — never repaired — because the capacitors will hold voltage well after the PSU has been unplugged.
<div class="sectionContain" style="text-align: justify;"></div>
<div class="sectionContain" style="text-align: justify;">所有計算機系統都需要電源單元（PSU），因為計算機被設計為以直流電（DC）運行，但是我們的家庭和辦公室插座僅提供交流電（AC）。 為了使計算機正常運行，需要從插座到計算機PSU的電源乾淨整潔。 然後，PSU將交流輸入轉換為直流輸出，並在必要的電壓下將其輸入計算機的各個子系統。 PSU在從交流到直流的轉換過程中會產生熱量。 因此，良好的電源風扇對於消除PSU和計算機系統的熱量至關重要。 電源是一個現場可更換單元（FRU），應進行更換（切勿修理），因為在拔下PSU後電容器將保持良好的電壓。</div>
<div class="sectionContain" style="text-align: justify;"><br/>
<p><span class="imagewrap"><span class="image">                                    <img alt="Photograph of computer PSU, showing a space for the fan and an electric cord input. Multiple colored wires are protruding from the back of the PSU." class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image6.png" title="Photograph of computer PSU, showing a space for the fan and an electric cord input. Multiple colored wires are protruding from the back of the PSU."/></span></span></p>
<p id="N10694" lang="">                  Computer PSU, showing a space for the fan and an electric cord input</p>
<p lang="">                                       (<span>計算機PSU，顯示風扇和電線輸入的空間)</span></p>
<p lang=""></p>
<p id="N1069D" lang="">Power supplies are rated in watts, with contemporary computer systems requiring 400 watts of power or more. Every device inside the computer requires power and receives it from the PSU. Therefore, the more devices there are inside the computer, the more power that is required from the power supply. A technician should verify that the backward “UR” logo(*chart1)<span> </span>appears on the power supply, since this indicates that the power supply has been properly<span> </span>safety tested. When purchasing a new computer, the power supply will already have been selected based on the initial configuration of the machine, but if you are adding new components to the workstation, you will need to verify that the power supply has enough wattage to support the existing and new components. To do this, you need to determine the wattage by adding all the devices’ wattage together. If the device is measured in amps, multiply amps times voltage (A x V) to calculate the watts. Power supplies are not 100 percent efficient, nor are they rated to be 100 percent efficient. Therefore, you should always keep the total wattage under 70 percent of the rated wattage of the power supply to ensure proper computer operations.</p>
<p lang=""></p>
<p lang="">電源的額定功率為瓦特，當代計算機系統需要400瓦特或更高的功率。計算機內部的每個設備都需要電源，並從PSU接收電源。因此，計算機中存在的設備越多，電源所需要的功率就越大。技術人員應驗證電源上是否有向後的“ UR”徽標，因為這表明電源已通過適當的安全測試。購買新計算機時，將已經根據計算機的初始配置選擇了電源，但是如果您要向工作站添加新組件，則需要驗證電源是否具有足夠的功率以支持現有電源。和新組件。為此，您需要通過將所有設備的瓦數相加來確定瓦數。如果設備以安培為單位測量，則將安培乘以電壓（A x V）以計算瓦數。電源效率不是100％，也不是額定為100％。因此，應始終將總功率保持在電源額定功率的70％以下，以確保計算機正常運行。</p>
<p lang=""></p>
<p lang=""><img height="105" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image7.png" width="185"/><span class="imagewrap"><span class="image"><img alt="Photograph of a power supply label with input and output specifications. It also includes a caution warning of hazardous voltage inside, and the UR logo, along with other logos." class="popimg" height="105" id="_i_3" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image8.png" title="Photograph of a power supply label with input and output specifications. It also includes a caution warning of hazardous voltage inside, and the UR logo, along with other logos." width="268"/></span></span></p>
<p id="N106AA" lang=""><span>*chart1(圖一)</span>                                        Power supply specifications (電源規格)</p>
<div class="section" id="N106B2">
<div class="sectionContain">
<p></p>
<p><span title="Quick scroll up">Dual Voltage 雙電壓</span></p>
<p></p>
<p id="N106B9" lang="">Most of today’s computers are built around the world with different voltages. In the United States, power is delivered at 115–120 VAC (voltage alternating current) at 60 hertz. In Europe and Asia, the typical wall outlet provides 230–240 VAC at 50 hertz. If the power supply supports dual voltage, you need to ensure the correct setting is selected. In that situation, there should be a slider button that allows you to select the proper voltage. Slide the button to the appropriate voltage before plugging the power supply into the wall or damage to the computer can occur.</p>
<p id="N106B9" lang=""><span>當今大多數計算機都是在世界各地以不同的電壓構建的。在美國，功率在60赫茲的115-120 VAC（交流電壓）下輸送。在歐洲和亞洲，典型的壁裝電源插座以50赫茲提供230-240 VAC。如果電源支持雙電壓，則需要確保選擇正確的設置。在這種情況下，應該有一個滑塊按鈕，可讓您選擇合適的電壓。在將電源插頭插入牆上之前，請將按鈕滑動至適當的電壓，否則可能會損壞計算機。</span></p>
<p lang=""></p>
<p id="N106BC" lang="">What do you think would happen if we selected the wrong voltage before plugging it in? Well, if we are in Europe and expecting 230 VAC from the wall, but set the switch to 110 VAC (the United States standard), the power supply would receive an overvoltage condition, damaging the power supply and possibly starting a fire. If instead we took a European PC, which expects 230 VAC, and plugged it into a United States electrical outlet providing 110 VAC, we would get an undervoltage condition, and the computer would not start up.</p>
<p lang=""><span>如果我們在插入之前選擇了錯誤的電壓，您會怎麼辦？</span><span>好吧，如果我們在歐洲並期望牆壁有230 VAC的電壓，但將開關設置為110 VAC（美國標準），則電源將出現過壓狀況，從而損壞電源並可能引發火災。</span><span>如果取而代之的是，我們帶了一個歐洲PC，該PC期望提供230 VAC的電源，然後將其插入提供110 VAC的美國電源插座，則將出現欠壓情況，並且計算機將無法啟動。</span></p>
<p lang=""></p>
<span class="imagewrap"><span class="imagewrap"><span class="image">                                      <img class="popimg" id="_i_5" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image9.png"/></span></span></span>
<p id="N106C4" lang="">                  Power supply port and on/off switch within a metal honeycomb mesh</p>
<p lang="">       to allow for power supply ventilation(<span>金屬蜂窩網內的電源端口和開/關開關可允許電源通風)</span></p>
<h3>Power Supply Connectors 電源連接器</h3>
<p></p>
<p id="N1068F" lang="">ATX 12V 2.x power supplies connect to the motherboard by way of a 24-pin cable + 4-pin/8-pin for CPU and 6- or 8-pin for PCIe video.</p>
<p>ATX 12V 2.x電源通過24針電纜+ 4針/ 8針（用於CPU）和6或8針（用於PCIe視頻）連接到主板。</p>
<p></p>
<p id="N10692" lang="">The purpose of a "dual-rail" PSU is to separate and limit the current through each wire to avoid overheating.</p>
<p>“雙軌” PSU的目的是分離並限制通過每條電線的電流，以避免過熱。</p>
<p></p>
<p id="N10695" lang="">Originally, the ATX 1.x standard required 20 pins to provide the mainboard (motherboard) power connection. ATX version 2.x expanded this to 24 pins for a standard ATX12V power supply. Many power supplies will provide a 20+4 pin cable, so that they are backward compatible with older systems.</p>
<p>最初，ATX 1.x標準需要20個引腳來提供主板（主板）電源連接。 ATX版本2.x將其擴展為24引腳，用於標準ATX12V電源。許多電源將提供20 + 4針電纜，以便它們與較早的系統向後兼容。</p>
<p></p>
<p lang="">With the higher voltage requirements of the Pentium 4 and onward, the ATX version 2.x standard made this a 24-pin cable +4 pin (original mini-ATX or P4 connector) or an EPS12 8-pin connector. The ATX12V provides a four-wire square connector for additional motherboard power. ESP12V provides an eight-wire connector (often split into two four-wire connectors for backward compatibility) for additional CPU power. Finally, there is the AUX connector, a six-wire connector to provide older systems with extra power to the motherboard.</p>
<p>隨著奔騰4及更高版本對電壓的更高要求，ATX 2.x版標準將其設置為24針電纜+4針（原始的mini-ATX或P4連接器）或EPS12 8針連接器。 ATX12V提供一個四線方形連接器，用於增加主板電源。 ESP12V提供了一個八線連接器（為了便於向後兼容，通常分為兩個四線連接器），以提供更多的CPU電源。最後，還有AUX連接器，這是六線連接器，可為較舊的系統提供額外的電源給主板。</p>
<p></p>
<p id="N1069B" lang="">ATX12V version 2.x eliminated the 3.3V and 5.5V rails in favor of 12V rails due to the nature of CPU and PCIe power requirements. The ATX standards from version 2.x on have all developed to improve power delivery. The 12V<span> </span>dual-rail<span> </span>PSU is designed to limit over voltage situations and protect against overheating.</p>
<p lang="">由於CPU和PCIe電源要求的特性，ATX12V 2.x版取消了3.3V和5.5V供電軌，轉而採用12V供電軌。從2.x版開始的ATX標準都已經開發出來，以改善功率輸出。 12V雙軌PSU旨在限製過壓情況並防止過熱。</p>
<p lang=""></p>
<table align="center" cellspacing="0" class="wbtable" lang="" style="width: 622px;">
<thead>
<tr style="height: 14px;">
<th lang="" style="width: 10px; height: 14px;">Power Cable</th>
<th lang="" style="width: 259.96px; height: 14px;">Application</th>
<th lang="" style="width: 238.04px; height: 14px;">Pinouts/Voltage</th>
</tr>
</thead>
<tbody>
<tr style="height: 110px;">
<td lang="" style="width: 10px; height: 110px;">
<div class="image shouldbeleft"><img alt="Copyright: melastmohican / 123RF Stock Photo (http://www.123rf.com/profile_melastmohican)" class="popimg" height="109" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image11.jpeg" title="Copyright: melastmohican / 123RF Stock Photo (http://www.123rf.com/profile_melastmohican)" width="164"/></div>
</td>
<td lang="" style="width: 259.96px; height: 110px;">
<p>IDE/EIDE PATA devices (HDD/ODD);</p>
<p>Case Fans; PCI/PCIe Expansion cards</p>
<p>requiring external power (i.e., USB,</p>
<p>Firewire, Thunderbolt)</p>
</td>
<td lang="" style="width: 238.04px; height: 110px;">
<p>Red (+5V), Yellow (+12V),</p>
<p>Black (G), Black (G)</p>
</td>
</tr>
<tr class="e" style="height: 110px;">
<td lang="" style="width: 10px; height: 110px;">
<div class="image shouldbeleft"><img alt="Copyright: stargatechris / 123RF Stock Photo (http://www.123rf.com/profile_stargatechris)" class="popimg" height="109" id="_i_1" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image12.jpeg" title="Copyright: stargatechris / 123RF Stock Photo (http://www.123rf.com/profile_stargatechris)" width="164"/></div>
</td>
<td lang="" style="width: 259.96px; height: 110px;">
<p>SATA Devices (HDD/ODD);PCI/PCIe</p>
<p>Expansion cards requiring external</p>
<p>power(i.e.,USB,Firewire, Thunderbolt)</p>
</td>
<td lang="" style="width: 238.04px; height: 110px;">
<p>15-pin (+3.3 V, +5V, +12V)</p>
</td>
</tr>
<tr style="height: 131.12px;">
<td lang="" style="width: 10px; height: 131.12px;">
<div class="image shouldbeleft"><img alt="Copyright: jrtb / 123RF Stock Photo (http://www.123rf.com/profile_jrtb)" class="popimg" height="95" id="_i_2" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image13.jpeg" title="Copyright: jrtb / 123RF Stock Photo (http://www.123rf.com/profile_jrtb)" width="162"/></div>
</td>
<td lang="" style="width: 259.96px; height: 131.12px;">PCI Express Video Cards – 6 or 8 pins</td>
<td lang="" style="width: 238.04px; height: 131.12px;">
<p id="N106CF" lang="">6-pin (+12 v) (ATX12V Vers. 2.1)</p>
<p id="N106D1" lang="">8-pin (+12 v) (ATX12V Vers. 2.2)</p>
<p id="N106D3" lang="">or later</p>
</td>
</tr>
</tbody>
</table>
<p><span class="imagewrap"><span class="image">                                        <img alt="Photograph of wires and connectors that leave the power supply and connect it to the motherboard and peripherals." class="popimg" id="_i_3" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image10.png" title="Photograph of wires and connectors that leave the power supply and connect it to the motherboard and peripherals."/></span></span></p>
<p id="N106DD" lang="">                                                      Power supply wires(<span>電源線</span>)</p>
<p id="N106E6" lang="">In addition to the motherboard needing power to function, peripherals need power to function, too. The power supply provides additional connectors for peripherals used throughout the computer system. The oldest style connector is the Molex connector and is used for PATA hard drives, PATA CD/DVD drives, and extra cooling fans. The Molex is a four-pin connector that is usually one of the largest connectors. A mini-Molex or Berg connector is a four-pin connector that is rather small and only used for floppy disk drives, specifically the 3.5-inch variant of drive. SATA devices use SATA power cables, which are 15-pin L-shaped connectors. PCIe power connectors (peripheral component interconnect express) are six-pin or eight-pin connectors that are used to provide additional power to PCIe video cards at 12 VDC. Finally, if you run out of connectors of a certain type, there are conversion cables to make a Molex into SATA, or Molex into PCIe. Additionally, there exist Y-connectors for Molex that allow a single Molex to be split into two Molex connectors. As you remember, power supplies convert AC to DC power to provide power to the devices. These connectors have either +/-3.3 VDC, +/- 5 VDC, or +/- 12 VDC.</p>
<p lang="">除了主板需要電源才能工作之外，外圍設備也需要電源才能工作。電源為整個計算機系統中使用的外圍設備提供了附加的連接器。最古老的連接器是Molex連接器，用於PATA硬盤驅動器，PATA CD / DVD驅動器和額外的冷卻風扇。 Molex是四針連接器，通常是最大的連接器之一。微型Molex或Berg連接器是一個四針連接器，它很小，僅用於軟盤驅動器，特別是3.5英寸驅動器。 SATA設備使用SATA電源線，該電源線是15針L形連接器。 PCIe電源連接器（外圍組件互連Express）是六針或八針連接器，用於為12 VDC的PCIe視頻卡提供額外的電源。最後，如果您用完了某種類型的連接器，也可以使用轉換電纜將Molex轉換為SATA，或將Molex轉換為PCIe。此外，還存在用於Molex的Y型連接器，該連接器可將單個Molex分為兩個Molex連接器。您還記得，電源將交流電轉換為直流電，以便為設備供電。這些連接器具有+/- 3.3 VDC，+ /-5 VDC或+/- 12 VDC。</p>
<h3>Remove A Power Supply 卸下電源</h3>
<p></p>
<p id="N106B5" lang="">To remove the power supply, first you must power down the computer. Next, you want to verify the power switch is in the off position, and disconnect the power cord from the wall and from the machine. You can then open the case by removing the screens, and then disconnect all power supply cables from all the devices in the computer. Next, you will remove all the screws holding the PSU in place and lift or slide out the power supply from the workstation.</p>
<p lang=""><span>要卸下電源，首先必須關閉計算機電源。</span><span>接下來，您要確認電源開關處於關閉位置，並從牆壁和機器上拔下電源線。</span><span>然後，您可以通過卸下屏幕來打開機箱，然後從計算機中的所有設備上斷開所有電源電纜的連接。</span><span>接下來，您將卸下所有將PSU固定到位的螺釘，並從工作站上提起或滑出電源。</span></p>
<p lang=""></p>
<p><span class="imagewrap"><span class="image"><img alt="Photograph of PSU with power cables coming out of the back. It is held in a person’s hand." class="popimg" id="_i_1" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH04/webcontent/PCH04/image14.png" title="Photograph of PSU with power cables coming out of the back. It is held in a person’s hand."/></span></span></p>
<p id="N106C7" lang="">                       Power supply unit (供電單元)</p>
<p lang="">Replace A Power Supply 更換電源</p>
<p lang=""></p>
</div>
</div>
</div>
</div>
</div>
<p>To replace a PSU, you would need to verify the proper wattage for the new power supply and slide the power supply into the case. You then need to screw the power supply into place and connect all the power supply cables to the various internal components. Next, you should check the voltage setting and make sure it is set to 110 VAC for North America or 230 VAC for European/Asian countries. Connect your power cord to the power supply and turn on the computer. If the computer works properly, you can then close the case and secure the enclosure with screws.</p>
<p><span>要更換PSU，您需要驗證新電源的正確功率，並將電源滑入機箱。</span><span>然後，您需要將電源固定到位，並將所有電源電纜連接到各種內部組件。</span><span>接下來，您應該檢查電壓設置，並確保將其設置為北美的110 VAC或歐洲/亞洲國家的230 VAC。</span><span>將電源線連接到電源，然後打開計算機。</span><span>如果計算機正常運行，則可以合上機箱並用螺釘固定機箱。</span></p>
<h2>PCH7</h2>
<p></p>
<h2>Develop</h2>
<p><a href="https://github.com/mdecourse/cmsimde"></a></p>
<h3>TEST</h3>